.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    margin: 5px auto;
    padding: 10px 20px;
    background-color: #1c1d42;
    color: white;
    height: 60px;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbarDropdownActive {
    border-radius: 40px 40px 0 40px;
}

.logo {
    flex: 1;
}

.logoImage {
    max-height: 60px;
}

.title {
    flex: 2;
    text-align: center;
}

.title h1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.hamburger {
    flex: 1;
    text-align: right;
}

.hamburgerIcon {
    font-size: 24px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 180px;
    background-color: #1c1d42;
    border-radius: 0 0 40px 40px;
    padding: 27px 0;
    z-index: 999;
}

.dropdownItem {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.outer-container {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    margin: 5px auto;
    height: calc(100% - 100px);
    border: 1px solid white;
    border-radius: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 500;
}

.inner-container {
    width: 98.5%;
    height: 97%;
    background-color: #1c1d42;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.expandableDiv {
    top: 80px;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    margin: 10px auto;
    margin-bottom: 5px;
    border: 1px solid #2b74b1;
    border-radius: 30px;
    background-color: #181930;
    padding: 5px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    max-height: 50px;
    overflow: hidden;
}

.expandableDiv.expanded {
    max-height: 500px;
}

.divHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.section {
    display: flex;
    gap: 5px;
    flex: 1;
    min-width: 150px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    justify-content: start;
    flex-shrink: 0;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 100px;
    justify-content: flex-end;
}

.modify {
    font-weight: 600;
    text-decoration: underline;
    color: #FFFFFF;
    cursor: pointer;
}

.modify:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.arrow {
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
}

.arrow:hover {
    color: #2b74b1;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.separator {
    width: calc(100% - 20px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 5px 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding: 5px 10px;
}

.row span:nth-child(2n) {
    font-weight: 200;
}

.row:last-child {
    margin-bottom: 5px;
}

.action {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    width: 100%;
}

.view-password-text {
    font-size: 10px;
    font-weight: 100;
    color: white;
    margin-right: 10px; /* Space between text and input */
    white-space: nowrap;
}

.input-group input {
    width: 100%;
    padding-right: 40px; /* Ensures space for the eye icon */
    height: 40px;
    font-size: 16px;
}

.eye-icon {
    position: absolute;
    right: 10px; /* Aligns to the right inside input box */
    cursor: pointer;
    font-size: 18px;
    color: #888;
    transition: color 0.2s ease-in-out;
}

.eye-icon:hover {
    color: #fff;
}

